<article class="task-card"
  [class.overdue]="isOverdue()">
  
  <div class="task-card__header">
    <div>
      <p class="task-card__eyebrow">
        Task #{{ task?.id }}
      </p>

      <h2 class="task-card__title">
        {{ task?.taskName }}
      </h2>
    </div>

    <span 
      class="task-card__status"
      [style.color]="getStatusColor(task?.statusType ?? '')"
      [style.border-color]="getStatusColor(task?.statusType ?? '')"
      [style.background-color]="getStatusBackground(task?.statusType ?? '')"
      (click)="changeStatusType()"
    >
      {{ task?.statusType || 'Not specified' }}
    </span>
  </div> 

  <div class="task-card-date">
      <span class="task-card__detail-icon">◷</span>

      <div>
        <!-- <span class="task-card_date_label">Due date</span> -->

        <strong>
          {{
            task?.dueDate
              ? (task?.dueDate | date: 'dd.MM.yyyy | HH:mm')
              : 'Not specified'
          }}
        </strong>
      </div>
    </div>

  <div class="task-card__content">
    

    <div class="task-card__detail">
      <span class="task-card__detail-icon">↻</span>

      <div>
        <span class="task-card__label">Last updated</span>

        <p>
          {{
            task?.lastUpdateDate
              ? (task?.lastUpdateDate | date: 'dd.MM.yyyy HH:mm')
              : 'Not specified'
          }}
        </p>
      </div>
    </div>

    <div class="task-card__detail">
      <span class="task-card__detail-icon">✎</span>

      <div>
        <span class="task-card__label">Last updated by</span>

        <p>
          {{
            task?.lastUpdatedBy
              ? task?.lastUpdatedBy
              : 'Not specified'
          }}
        </p>
      </div>
    </div>

    <div class="task-card__detail">
      <span class="task-card__detail-icon">☆</span>

      <div>
        <span class="task-card__label">Created by</span>

        <p>
          {{
            task?.createdBy
              ? task?.createdBy
              : 'Not specified'
          }}
        </p>
      </div>
    </div>
  </div>

  <div class="task-card__actions">
    <button
      type="button"
      class="edit-button"
      (click)="editTask()"
    >
      Edit
    </button>

    <button
      type="button"
      class="delete-button"
      (click)="deleteTask()"
    >
      Delete
    </button>
  </div>
</article>